{{- define "common.serviceaccount.tpl" -}}
{{- if .Values.serviceAccount }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Values.serviceAccount }}
  namespace: {{ .Release.Namespace }}
{{- end }}
{{- end -}}